[2014-04-06 06:44] matrixik opened #1 "Double quotes for natural language messages?"
Hello,

I would like to ask what you think about allowing double quotes for natural language messages?
Something like: if string contain spaces allow double quotes.

http://stackoverflow.com/a/56190/1722542

Best regards

[2014-06-24 22:10] rouge8 opened #2 "Double quotes to wrap single quotes"
flake8-quotes is flagging the string `"TAG_field_'hello world'"` and any others where double quotes are used to prevent escaping inner single quotes.

[2015-03-14 06:11] zheller commented on #1
Since python treats all strings as equal, I personally prefer to keep them all the same. In other languages like go or c or something maybe its different.

[2015-03-14 06:11] #1 closed

[2015-03-14 06:11] zheller commented on #2
I think this just got fixed :)

[2015-03-14 06:11] #2 closed

[2015-03-16 03:25] rouge8 commented on #2
Thanks! Can you tag/push a new release to PyPI?

[2015-04-06 05:53] rouge8 opened #7 "Tag new release for PyPI"
Now that #6 is merged, can you tag a new release for PyPI?

[2015-04-28 13:26] adrianmoisey commented on #7
That would be rad!

[2015-05-06 08:46] 2m commented on #7
+1

[2015-05-08 04:16] 2m commented on #7
In the mean time, as a reminder, note that setuptools can install packages from github URLs as well. [Here is an example](https://github.com/2m/conductr-cli/blob/caa56090d349c3f150cca4aa0fa6db0c7da70582/tox.ini#L12) of how this linter can be used in a tox setup.

[2015-07-09 23:42] hvelarde commented on #7
any news on that release?

[2015-08-16 20:55] txomon opened #8 "Duplicate work"
Hi, I have been coding past week also a flake8-quotes project, and when I tried to register my project, found this one here.

I will be changing the name of my project, but just in case you are interested, have a link https://github.com/txomon/flake8-quotes

I use combination of ast and file reading to parse correctly all the strings. Although for the moment I haven't finished the work (I don't su

[2015-10-17 19:40] johnthagen opened #10 "Honor # noqa comments to suppress warnings"
Flake8 states ``lines that contain a # noqa comment at the end will not issue warnings``.
Reference: https://pypi.python.org/pypi/flake8

I would suggest adding the following test:
[code]

The ``pep8`` package has a ``noqa()`` function you can use like:
[code]

[2015-10-18 12:25] johnthagen commented on #8
I too wrote a module for string quote checking before stumbling across this on PyPI.  I haven't uploaded mine to PyPI (probably won't now that there are already packages), but thought I should share my code on this issue as well: https://github.com/johnthagen/flake8-strings

[2015-10-18 12:27] johnthagen commented on #7
What is the plan to push a new release?  Need the update on PyPI for easy installation.  The PyPI package doesn't have #1 issue fixed.

[2015-10-18 15:12] txomon commented on #8
@johnthagen I pretty much like yours... making configurable what it should look like. In my case is because I always force single quotes.

Also mine doesn't support docstrings yet. I don't see them as important, but will be supported in the future. Does yours have any feature you would like to highlight?

[2015-10-24 12:22] theandrewdavis commented on #7
Agreed, I'm also waiting on a PyPI update.

[2015-10-30 04:00] twolfson commented on #10
There are already tests against `noqa`:

https://github.com/zheller/flake8-quotes/blob/d2e56964efc86a97d63e5a75f1af157da1608290/test/data/doubles_noqa.py

https://github.com/zheller/flake8-quotes/blob/d2e56964efc86a97d63e5a75f1af157da1608290/test/test_checks.py#L32-L34

What's a test case where that's failing?

[2015-10-30 04:20] twolfson commented on #8
Going to close this issue since there isn't anything explicit about this repo's features and this repo seems to be created before both of them =/

[2015-10-30 04:20] #8 closed

[2015-10-30 04:25] twolfson commented on #7
Hey folks, sorry for the delay on this. We have released `0.1.0` to PyPI:

https://pypi.python.org/pypi/flake8-quotes/0.1.0

[2015-10-30 04:26] #7 closed

[2015-10-30 15:13] hvelarde commented on #7
I think you meant 0.1.1: https://pypi.python.org/pypi/flake8-quotes/0.1.1

[2015-10-30 16:47] twolfson commented on #7
Nope, I meant `0.1.0`. There was a patch release shortly after from #11 which lead to `0.1.1` =)

[2015-11-19 12:37] drmikehenry opened #12 "Cannot check source on stdin"
```flake8-quotes``` fails with an exception when attempting to check source files provided on stdin.
[code]

[2015-11-19 18:23] twolfson commented on #12
Yikes, thanks for the bug report. We will take a look at this by the end of the weekend.

[2015-11-20 06:34] twolfson commented on #12
Looking into triaging this now

[2015-11-20 06:44] twolfson commented on #12
Alright, it looks like it was silently swallowing errors on Python 2.7 and I have reproduced the Python 3.4 error as well.

[2015-11-20 07:21] twolfson commented on #12
It looks like the issue is being caused by someone else consuming `stdin` and using `stdin.close()` before we can read it.

[code]

We could explore converting the AST back into standard form but I think that's counter productive.

As a result, I started exploring the other packages to see what they but have came up empty (there was a `pep8.stdin_get_value()` but that is broken)

https://github.co

[2015-11-20 07:29] twolfson commented on #12
I have opened an issue in the respective GitLab repo:

https://gitlab.com/pycqa/flake8/issues/102

[2015-11-20 11:45] drmikehenry commented on #12
Thanks for looking into this so quickly! :-)

[2016-01-03 18:51] johnthagen commented on #10
I'm pretty sure when I submitted this I was using a version published on PyPI that was out of date with the latest fixes on github. Since then, a new version has been published to PyPI with the fixes, so this issue can be closed.

[2016-01-03 18:51] #10 closed

[2016-01-03 23:41] twolfson commented on #10
Ah, cool. Thanks =)

[2016-01-20 23:28] jwhitlock opened #13 "Clarify Python 3.x compatibility"
This project appears to be compatible with Python 3, but it isn't specified as supported in setup.py.

[2016-01-21 00:04] twolfson commented on #13
Nice catch! Would you be interested in submitting a PR to repair that?

[2016-01-22 06:09] #13 closed

[2016-01-22 06:12] twolfson opened #15 "Test in Travis CI"
It looks like we introduced a `.travis.yml` in #6 but it isn't currently being used. We should get this set up so we can automatically test Python 2 and Python 3. Otherwise, we should remove the unnecessary `.travis.yml`.

@zheller Thoughts?

[2016-02-11 23:37] zedlander commented on #12
@twolfson Why do you say `pep8.stdin_get_value()` is broken? I have it working in 2.7 and 3.5 locally. Can push a PR if you want.

[2016-02-11 23:48] twolfson commented on #12
It's been a while since I last touched this issue but I believe other plugins were consuming the `stdin` content and the buffer would be seeked to EOF. However, if you have something working, I would love to see a PR =)

[2016-02-12 00:06] zedlander commented on #12
Done :) https://github.com/zheller/flake8-quotes/pull/16

[2016-02-12 00:11] twolfson commented on #12
Wow, very speedy. Nicely done :+1:

[2016-02-12 02:58] twolfson commented on #12
This has been resolved by @zedlander in #16 and released in `0.2.0`.

[2016-02-12 02:58] #12 closed

[2016-02-12 02:59] twolfson commented on #15
Bump on this issue. Waiting to hear back from @zheller =/

[2016-02-12 03:38] zheller commented on #15
Sure, go ahead.

On Thu, Feb 11, 2016 at 6:59 PM, Todd Wolfson <notifications@github.com>
wrote:

[2016-02-12 03:39] twolfson commented on #15
Can you flip the switch in https://travis-ci.org/profile/zheller ? I can't since this is a personal repo =/

[2016-02-12 04:00] zheller commented on #15
Ok, switch on travisci.org is switched.

On Thu, Feb 11, 2016 at 7:39 PM, Todd Wolfson <notifications@github.com>
wrote:

[2016-02-12 04:07] twolfson commented on #15
Awesome, thanks @zheller =D

[2016-02-12 04:39] twolfson commented on #15
This has been resolved in #17 and was released in `0.2.1`.

[2016-02-12 04:39] #15 closed

[2016-02-12 13:40] idgserpro opened #19 "Error: Couldn't install: flake8-quotes 0.2.2"
[code]

[2016-02-12 13:44] idgserpro commented on #19
Is [this](https://github.com/zheller/flake8-quotes/commit/751dd8b829d7977dcf88b74e95cd42eb197d9639)?

[2016-02-12 15:38] twolfson commented on #19
Ugh, it looks like the patch in #18 wasn't quite enough. I will attempt to resolve this by the end of the weekend but for now please lock down to an `0.1.x` version of `flake8-quotes`.

[code]

[2016-02-12 16:12] Ichimonji10 commented on #19
I've faced this issue myself. You want to get at a version number from code, so you write the version number as code. But you also want to get the version number before that code is available, which creates a hen-and-egg packaging issue.

I've solved this issue in my own packages by placing the version number in a stand-alone file. The version number can then be got at in [`setup.py`](https://gith

[2016-02-12 16:20] twolfson commented on #19
Yea, I have seen that pattern before. We will probably take that approach since (iirc) `flake8` requires `__version__` to be defined. I usually keep it in the `setup.py` and call it a day =/

I would also like to see what other `flake8` packages do

[2016-02-12 16:26] Ichimonji10 commented on #19
You can set `__version__` from that file:

[code]

That'll make `flake8` happy.

[2016-02-12 17:16] Ichimonji10 commented on #19
I'll be happy to submit a PR for this issue. It may take me a several hours to get to it, though, given I'm juggling other tasks.

[2016-02-12 17:18] twolfson commented on #19
Even with a PR, I won't be able to land it until late today. Thanks for the thought though =)

I will have this resolved by the end of tonight (CST)

[2016-02-12 17:22] Ichimonji10 commented on #19
No great rush. I'll pin dependencies in the meantime.

[2016-02-12 18:07] Ichimonji10 commented on #19
See #20.

[2016-02-13 01:14] #19 closed

[2016-02-13 01:15] twolfson commented on #19
This should be resolved via #20 by @Ichimonji10 which was released in `0.2.3`.

[2016-02-16 17:30] do3cc opened #23 "Package version 0.2.3 egg is broken"
The egg does not contain the `VERSION` file.
the module tries to load the `VERSION` file during import time and fails.
I guess with this
https://github.com/zheller/flake8-quotes/blob/master/setup.py#L31

this line gets ignored:
https://github.com/zheller/flake8-quotes/blob/master/setup.py#L33

[2016-02-16 18:30] Ichimonji10 commented on #23
See #21.

[2016-02-16 18:39] do3cc commented on #23
Pkg_resources really is the way to.

Release management really becomes a no brainer when following a few best practices documented and built upon in zest.releaser.

Von meinem iPhone gesendet

Am 16.02.2016 um 19:30 schrieb Ichimonji10 <notifications@github.com<mailto:notifications@github.com>>:

See #21<https://github.com/zheller/flake8-quotes/pull/21>.

-
Reply to this email directly or view it

[2016-02-16 18:57] twolfson commented on #23
Sorry, I was under the impression @Ichimonji10 was taking care of this in #21 =/

[2016-02-16 19:02] Ichimonji10 commented on #23
Feel free to re-open and merge #21.

[2016-02-16 19:33] twolfson commented on #23
Alright, it looks like #21 is off of the table. I will take a look at resolving this issue by the end of the weekend. In the meantime, please pin to a lower version:

[code]

[2016-02-17 03:58] twolfson commented on #23
PR #24 is now open to resolve this issue

[2016-02-28 12:43] richrd commented on #23
Great to see this getting fixed! It's breaking my travis build :relaxed: :+1:

[2016-02-28 23:26] twolfson commented on #23
Decided to cowboy land #24 due to the lack of review from @zheller. It's been landed/released in `0.2.4`

[2016-02-28 23:26] #23 closed

[2016-04-28 22:35] jackwilsdon opened #25 "Add support for docstrings"
I'd like to be able to enforce docstring quotes and normal string quotes separately, so I can require double quotes for docstrings and single quotes everywhere else.

Example of code that would pass the check (assuming we enforce double quotes for docstrings and single quotes for everything else):

[code]

And an example of some code that would not pass using the aforementioned rules:

[code]

[co

[2016-04-28 22:46] twolfson commented on #25
That seems reasonable to me. Would you be interested in opening a PR?

[2016-04-28 23:05] jackwilsdon commented on #25
Hmm, so I've noticed something odd with how `flake8-quotes` works.

For some reason, this code passes fine?

[code]

I am using the default value for `quotes`, which is single.

[2016-04-29 00:08] twolfson commented on #25
Yea, this repo is looser than one would assume. In my experience `esformatter-quotes` had the ideal configuration:

https://github.com/millermedeiros/esformatter-quotes

[2016-06-01 09:52] xZise opened #28 "Check prefixed strings"
Would it be sensible to check raw strings, `unicode` or `bytes`? I'm not exactly sure what your intentions are, but in at least `u'…'` should be checked, as it is a normal string on Python 3. And the change seems reasonably simple as the token contains the prefix. You could either strip the first character if it's in `rub` or if it is not in `"'`. Any invalid prefix should result in an error anywa

[2016-06-02 04:48] twolfson commented on #28
Ah, nice catch. I think a lack of support was unintentional. It looks like the fix should be adding a few more `startswith` checks (e.g. `b`, `br`, `u`, `UR`) :

[code]

https://github.com/python-git/python/blob/715a6e5035bb21ac49382772076ec4c630d6e960/Lib/tokenize.py#L103-L120

Would you be interested in submitting a PR to add support?

[2016-06-29 11:18] xZise opened #29 "Incompatible with flake8 version 3"
There is a beta version of flake8 version 3, which doesn't use `config_options` anymore so I get the following error:

[code]

More information:
* [List of plugins broken by 3.0.0](https://gitlab.com/pycqa/flake8/issues/149)
* [Guide to handle both versions](http://flake8.pycqa.org/en/latest/plugin-development/cross-compatibility.html#option-handling-on-flake8-2-and-3)

[2016-06-29 16:32] twolfson commented on #29
Would you be interested in writing a PR to help us support both versions?

[2016-06-29 20:33] jdavidheiser opened #30 "using stdin no longer works"
Running flake8 with the following syntax

`cat file.py | flake8 -`

does not work with flake8-quotes, but does work with other packages.  This is most likely caused by the fact that recent versions of flake8 are now importing pycodestyle and not pep8.

[2016-07-04 09:09] xZise commented on #30
I get the following error:
[code]

Using the following version: `2.6.2 (pycodestyle: 2.0.0, flake8_quotes: 0.3.0, mccabe: 0.5.0, pyflakes: 1.2.3) CPython 3.5.2 on Linux`

[2016-07-05 09:24] twolfson commented on #28
This has been resolved by @xZise in #32 and released in `0.4.0`

[2016-07-05 09:24] #28 closed

[2016-07-05 15:43] twolfson commented on #29
This has been resolved by @xZise in #34 and released in `0.5.0`. Thanks for your help!

[2016-07-05 16:04] xZise opened #36 "Reasoning behind limiting flake8 to version below 2.6 in tests"
Is there a reason why `requirement-dev.txt` requires `flake8<2.6.0,>=2.5.0`? Shouldn't any version above 2.5 and below 3.0 work (or with #34 also above 3.0)?

[2016-07-05 16:08] twolfson commented on #36
It's for less volatility in versioning which leads to less developer frustration/maintenance. While SemVer says to keep all minor releases backwards compatible, it isn't always the case.

[2016-07-05 16:08] #36 closed

[2016-07-08 09:48] twolfson commented on #30
The comment from @xZise has been determined due to an empty file and not an issue with `flake8` itself. This issue is currently being caused by a change in `flake8's` beta releases which we won't be supporting until https://gitlab.com/pycqa/flake8/issues/161 is fully resolved. Closing this issue for now.

[2016-07-08 12:18] xZise commented on #30
I think you got confused: For one this is about `stdin` so there is no “empty file” and `stdin` is not empty here. Also the issue with the empty file is only present when an error is reported on them, which wasn't happen with any of the plugins installed (`flake8-future-import` was the reason for the error). This is also not about Flake8 3.x but also Flake8 2.x. I got the “empty file” error only o

[2016-07-08 12:36] xZise commented on #30
Okay apart from my traceback above, it doesn't even work currently on older versions of Flake8 2.x using pep8 and not pycodestyle (unlike #31 seems to fix):

[code]

I used master but added a line to output the file contents, which are an empty array.

[2016-07-08 15:08] twolfson commented on #30
Sorry, there has been a lot of PRs flying around and it's hard to keep track of which is which. Please update the PR (#38) with a failing/passing test case to prove this regression has been patched and no longer poses an issue.

[2016-07-08 22:07] xZise commented on #30
Okay I have done a bit more testing without and with #38:

* Flake8 2.4.1 and 2.5.0 cause the ValueError from above regardless of the patch
* Flake8 2.5.5 work regardless of the patch (2.5.1 has monkey-patched `pep8.stdin_get_value` which I verified: 2.5.1 and 2.5.2 work with the patch but I haven't tested them without the patch)
* Flake8 2.6.2 cause the ValueError from above without the patch and

[2016-07-10 10:21] xZise opened #40 "Disable help text for --quotes parameters?"
It is possible in `optparse` to [suppress the help text](https://docs.python.org/3.5/library/optparse.html#optparse.Option.help). As the `--quotes` argument is deprecated, this could be suppressed? Or should it still be visible to give users the ability to see what it does when someone else is using it?

[2016-07-11 09:21] twolfson commented on #40
`--quotes` won't be deprecated to until a multiline PR is landed. At that point, we want to keep the option visible so people can see that it's deprecated until we remove it.

[2016-07-11 09:21] #40 closed

[2016-07-14 19:24] twolfson commented on #30
Please move all code related discussions to the corresponding PR. I am tired of trying to match multiple conversations to the same issue.

[2016-07-17 14:14] twolfson commented on #30
This has been repaired by @xZise in #38 and released in `0.6.0`

[2016-07-17 14:14] #30 closed

[2016-07-25 14:14] Ichimonji10 opened #43 "Incompatible with flake8 version 3"
Execute the following, under either Python 2 or 3:

[code]

Or, execute the following under Python 3:

[code]

Either way, an error like the following will result:

[code]

For the record, here's the output of `pip freeze`:

[code]

[2016-07-25 14:22] Ichimonji10 commented on #43
The following produces a functioning flake8 installation:

[code]

[2016-07-25 15:03] Ichimonji10 commented on #43
According to [Writing Plugins for Flake8](http://flake8.pycqa.org/en/latest/plugin-development/index.html), it should be possible to write a plugin that's compatible with flake8 2 and 3:

[2016-07-25 15:16] twolfson commented on #43
Flake8==3 is still in beta and seems to be shifting around their API. We aren't supporting Flake8==3 until it gets out of beta. Please see existing issues #30 and #38 for reference

[2016-07-25 15:16] #43 closed

[2016-07-25 15:17] playpauseandstop commented on #43
Actually it is already released, https://pypi.python.org/pypi/flake8/3.0.0

[2016-07-25 15:18] twolfson commented on #43
Oh well that was quick. I don't have time to do a full patch at the moment but I will get us to working sans `stdin`

[2016-07-25 15:27] twolfson commented on #29
`flake8==3.0.0` has finally been released and unfortunately we lost support by `flake8` dropping `pep8` from their code. As a result, this issue is no longer resolved.

[2016-07-25 15:28] twolfson commented on #43
After a small attempt, past assumptions were proven wrong and we are back to square 1. However, this issue was a duplicate of #30 so please refer to #30 as the main thread.

[2016-07-25 15:30] twolfson commented on #29
I believe @xZise mentioned this earlier but the fix should be as easy as:

http://flake8.pycqa.org/en/latest/plugin-development/cross-compatibility.html#standard-in-handling-on-flake8-2-5-2-6-and-3

[2016-07-25 15:34] twolfson commented on #29
Actually, it looks like we would still need to do some weird `import` logic and the monkey patch is relatively simple so we can probably do it ourselves:

https://gitlab.com/pycqa/flake8-polyfill/blob/1.0.1/src/flake8_polyfill/stdin.py#L52-57

[2016-07-25 15:46] twolfson commented on #43
Sorry, I meant issue #29

[2016-07-25 15:48] twolfson commented on #29
I started working on this but have other obligations so I don't have time to finish =/ We will likely need to rework code to get compatibility in getting lines without `pep8`.

https://github.com/zheller/flake8-quotes/compare/master...twolfson:dev/fix.flake8.3

However, while reviewing the material it looks like Flake8 wants to add formatting support (which seems up this repo's alley). We should p

[2016-07-26 00:41] johnthagen commented on #29
I presume this is a related issue:

```...ImportError: No module named 'flake8.engine'...```

Full log:
[code]

[2016-07-26 09:27] xZise commented on #29
@johnthagen Indeed that is how the issue presents itself.
@twolfson As mentioned in #38 we could just use `flake8-polyfill` to avoid any testing logic:

[code]

There `pep8.stdin_get_value` will return then either `pep8`, `pycodestyle` or `flake8.utils`. Maybe I'm going to provide a merge request for that which directly returns the `stdin_get_value` without needing it to be patched, so something l

[2016-07-26 09:58] xZise commented on #29
Okay I overlooked that it uses `pep8` also to read the content of the file. And unfortunately `flake8.utils` has no real replacement for it. As an alternative we could do use `flake8_polyfill.version` to check if the version is below 2.6 and then import `pep8` and otherwise import `pycodestyle` (named as `pep8`).

[2016-07-26 10:07] twolfson commented on #29
I think it would be a better usage of our time to stop trying to maintain compatibility for `2.x.x` and `3.x.x` in the same file. We should move the existing `flake8-quotes` iteration to a `0.x.x` branch and update the repo to only support `flake8==3` in a `1.x.x` version.

[2016-07-26 10:15] xZise commented on #29
I don't think this will help much, as I think that Flake8 2.x will be used for quite some time and apart from the options thing (which is already solved) and this stdin it seems to work. I've a relatively simple patch based on my last comment (which again wasn't complete as I forgot that using `pycodestyle` in Flake8 3.x doesn't work). I'm going to provide it as a PR and it's up to you what you wa

[2016-07-26 10:44] xZise commented on #29
Also you got a bit mixed up: The formatting logic is how it outputs the error. There is a “fixup logic” called “listener”, but I don't know how they work. It doesn't really seem to be documented.

[2016-07-26 16:27] twolfson commented on #29
With respect to formatter: Ah, I see. Thanks for the clarification =) I guess we will wait until "listeners" get more documentation rather than using an undocumented/potentially volatile feature

[2016-07-26 22:06] twolfson commented on #29
This should be resolved for good. This has been resolved in `0.8.1` via #44 and #46

[2016-07-27 00:04] johnthagen commented on #29
@twolfson Perhaps not fully solved?

[code]

[2016-07-27 12:09] xZise commented on #29
It looks like this is not properly initializing the plugin. Can you provide a minimal example which still shows this happening so that we can reproduce it? As it seems Flake8 never calls `QuoteChecker.parse_options` which actually sets `self.inline_quotes`.

You could also try to explicitly specify the `--inline-quotes` parameter. Either directly to Flake8 (make sure it's properly quoted) or to so

[2016-07-27 12:40] xZise opened #47 "Code cannot be ignored in 3.0.2 and 0.8.1"
This is only a preliminary result and don't know what exactly causes it but it seems like it is not possible to ignore `Q000`:

[code]

This might be related to the comments in czlee/tabbycat@81ac70c.

[2016-07-27 12:49] xZise commented on #47
Okay looking at it further, it seems to be related to the advice given in [Flake8 bug 183](https://gitlab.com/pycqa/flake8/issues/183) and leading to the PR #45. As it seems it made `Q000` an explicitly selected code. And any explicitly selected code cannot be ignored.

For example I changed the error code to `C90`, which is also selected by default (but as nothing is reporting `C90` exactly it do

[2016-07-27 16:20] twolfson commented on #47
Alright, closing this issue as it's not specific to our repo but `flake8`

[2016-07-27 16:20] #47 closed

[2016-07-27 16:22] twolfson commented on #29
@johnthagen I believe that's linked to this issue https://github.com/zheller/flake8-quotes/pull/42#issuecomment-234782045 . Can you try using `flake8==2` and seeing if the problem persists?

[2016-07-27 16:44] johnthagen commented on #29
@twolfson Here is as link to working build with `flake8==2.6.2`: https://travis-ci.org/johnthagen/stardust-rpg/builds/147585802

This was after I reverted my `requirements-dev.txt` to  `flake8==2.6.2`: https://github.com/johnthagen/stardust-rpg/blob/master/requirements-dev.txt

I'll try to create a minimal example for you later today.

[2016-07-27 18:39] twolfson commented on #29
I'm going to try reproducing the error on your repo now, thanks for linking =)

[2016-07-27 18:47] twolfson commented on #29
I attempted to reproduce on your repo but was unable to. I checked out the last failing commit in Travis CI and installed its dependencies but it didn't fail locally =/

https://travis-ci.org/johnthagen/stardust-rpg/builds/147339395

[2016-07-27 22:13] johnthagen commented on #29
@twolfson @xZise

I think it's a Windows specific issue, Travis is running fine with the latest `flake8` and `flake8-quotes`.

https://travis-ci.org/johnthagen/stardust-rpg/builds/147887298

[code]

But on my Windows 10 machine I am having problems even getting `flake8` working: https://gitlab.com/pycqa/flake8/issues/197

When I get `flake8` itself working reliably again (probably the next release

[2016-07-28 00:11] twolfson commented on #29
Ah, k. I don't have time to attempt to triage this again. I will take a look by the end of next week.

[2016-07-29 22:35] johnthagen commented on #29
@twolfson I'd like to tentatively say that `flake8-quotes` does not have any issues on Windows, but it lies with `flake8` 3.0.2.

The problem seems to be: https://gitlab.com/pycqa/flake8/issues/179

All the below testing is with `flake8` 3.0.2 and `flake8-quotes` 0.8.1 on Windows 10.

If I run without `flake8-quotes` installed,

[code]
I get the above error mentioned in that issue.

If I run witho

[2016-07-30 01:58] twolfson commented on #29
Ah, k. Thanks for doing the research into this issue =) Closing this issue for now

[2016-07-30 01:58] #29 closed

[2016-07-30 23:48] johnthagen commented on #29
@twolfson Confirmed that `flake8` 3.0.3 resolves this issue on Windows.

[2016-08-01 11:41] xZise commented on #29
Well [3.0.3](http://flake8.pycqa.org/en/latest/release-notes/3.0.3.html) disabled any concurrent processing, so it's the same as using `--jobs=1` on pre 3.0.3. But afaik there is nothing this plugin can do for 3.0.0-3.0.2 (apart from the fact that 3.0.3 also fixes #47). (So this comment was more just for your information)

[2016-08-01 11:52] xZise commented on #47
Just as an update: 3.0.3 should fix this issue as a fix for the bug 195 has been merged.

[2016-11-19 21:10] dopplershift opened #48 "Doesn't seem to work with flake8 3.2.0"
I was doing some testing with flake8-quotes (to see if it would work with pytest-flake8), and noticed that flake8-quotes doesn't seem to recognize errors I added. It turns out this is a problem with using flake8 3.2.0. The errors are found just fine if I roll back to flake8 3.0.4.

[2016-11-19 23:56] twolfson commented on #48
I'm unable to reproduce this issue. I set up a new virtual environment and verified tests passed in both scenarios:

[code]

Can you provide us a sample of code that passes in 3.0.4 but not in 3.2.0?

[2016-11-20 21:54] dopplershift commented on #48
So more detail--I'm seeing this problem on:
- Travis CI running Linux (Ubuntu) using system python and packages installed using pip
- My local OSX (10.12.1) running Anaconda Python; I see failures with both conda-forge packages and pip-installed packages

I'm currently unable to get an error with flake8 3.2.0 with even the simplest `test.py` file:
[code]
Simply installing 3.0.4 is enough to get ba

[2016-11-20 22:00] dopplershift commented on #48
Ah, I think this is probably the culprit:
https://gitlab.com/pycqa/flake8/issues/257

[2016-11-20 22:50] twolfson commented on #48
Ah, word. Nice catch and research. Going to close this issue as it looks like it's been resolved and should be released soon

https://gitlab.com/pycqa/flake8/merge_requests/148

https://gitlab.com/pycqa/flake8/commit/a981fe34ed5d02c762e40e1ed2d6f309290035b3

[2016-11-20 22:50] #48 closed

[2017-01-31 06:20] art1415926535 opened #49 "Error when using the CLI option"
I try use the CLI option but get error.
[code]
Without the option it works fine.

flake8-quotes (0.8.1)
Python 3.5
Windows 10

[2017-01-31 07:37] twolfson commented on #49
Windows' `cmd.exe` doesn't seem to interpret neither single nor double quotes:

[code]

Can you try `flake8 --quotes="`?

Arguably, choosing to use the literals was a bad call due to escaping issues =/ Maybe we should either alias them as `--quotes=double` or remove the literals entirely?

[2017-01-31 08:04] art1415926535 commented on #49
Yes, the same error.
[code]

[2017-01-31 09:05] twolfson commented on #49
Ah, damn. Alright, I'm going to whip up a PR with aliasing support for `--quotes=double` and `--quotes=single`. Sorry for the inconvenience and thanks for bug report and timely responses =)

[2017-01-31 09:18] twolfson commented on #49
We have opened up the PR https://github.com/zheller/flake8-quotes/pull/50 to resolve the issue

[2017-02-01 09:55] twolfson commented on #49
We have landed and released #50 in `0.9.0`. Thanks again for the bug report and timely responses

[2017-02-01 09:55] #49 closed

[2017-02-06 02:24] virusdefender opened #51 "This plugin should not work except explicit configed"
I only want to check quotes in some specific projects, however, once this plugin is installed, it will work in all flake8 check task

![image](https://cloud.githubusercontent.com/assets/4939404/22632667/6b79d600-ec56-11e6-8580-2d0aee1c654e.png)

[2017-02-06 04:01] twolfson commented on #51
`flake8` is built to automatically enable/detect plugins. All other plugins are similarly configured to lint with default conditons. The typical convention to prevent this scenario is to set up a virtual environment for each specific project instead of assuming all projects will be configured/linted consistently.

Here are useful tools for virtual environments:

- https://virtualenv.pypa.io/en/sta

[2017-02-06 04:01] #51 closed

[2017-02-15 23:54] thecardcheat commented on #25
@twolfson  It looks like this sort of functionality is supplied by [pydocstyle](http://www.pydocstyle.org/en/latest/) which has a [flake8 adapter](https://pypi.python.org/pypi/flake8-docstrings) so you might not want to bother adding it here.

[2017-02-16 00:50] twolfson commented on #25
Ah, neat. Thanks for the heads up @thecardcheat. I think we'll still want multiline string support -- maybe not exclusively in the context of docstrings (e.g. a large chunk of inlined text). It's not clear if `pydocstyle` supports that =/

[2017-05-19 18:18] twolfson commented on #25
This has been added in `0.10.0` via @batlock666 in #52

[2017-05-19 18:18] #25 closed

[2017-05-19 19:21] Ichimonji10 opened #55 "version 0.10 reports error for every single docstring"
flake8-quotes version 0.10 reports error Q000 for every single Python docstring everywhere. For example:

[code]

[2017-05-20 11:21] cas-- commented on #55
I just found this too with failing tests with push to ci...

#52 pull-request that instigated it. However I would like to point out that PEP8 clearly states:

So that would suggest this addition was never needed though it looks like it will be fixed to not be default soon: #54

[2017-05-20 18:17] fxfitz commented on #55
We're hitting this too. Any idea how fast we can get a bug fix released?

[2017-05-20 18:32] twolfson commented on #55
Hey folks, sorry about that. I failed to realize that `0.10.0` wasn't backwards compatible during my review. We've released a patched `0.10.1` which uses `"""` as the default behavior which should support everyone's behavior

[2017-05-20 18:32] #55 closed

[2017-05-20 18:35] fxfitz commented on #55
No worries! Thanks for the quick fix! :-D

[2017-05-23 07:10] karamanolev opened #56 "Support for the use case to enforce single-line strings, but not multiline strings"
In our projects, we are trying to enforce always using ' for single line strings and flake8-quotes is perfect for that. However, for multiline strings, we use " for docstrings and ' for regular strings. Right now, they single-line strings and multiline strings emit the same warning, so we can't just ignore the latter. Also, --multiline-quotes allows configurability for that, but it's either ' or "

[2017-05-23 07:19] twolfson commented on #56
I'm open to supporting different errors for inline and multiline strings. Would you be interested in writing a PR for that?

I'm on the fence about supporting separate configurations for docstrings and non-docstring multiline strings. It doesn't feel like a common use case =/

[2017-05-23 07:46] bpmcl commented on #56
We are one such use-case. We use the different formats to clearly demarcate docstrings (double-quoted) from all other code, including multiline strings, which are all single-quoted. We have pinned to 0.9.0 to resolve our issues for now.

A potential workaround if this is not a use-case you would like to support is a separate error as suggested by @karamanolev, or an option to disable multiline str

[2017-05-23 09:29] karamanolev commented on #56
@twolfson @bpmcl Thanks. I'll give it a spin in the next day or two and I'll keep you posted.

[2017-05-23 09:54] bpmcl commented on #56
@karamanolev That would definitely cover our usage. The different error messages is a good first step, but we would still like to correctly parse multiline strings according to our internal guidelines, so having this be configurable would be ideal.

If @twolfson is happy with this approach, I would be a willing tester for your PR.

[2017-05-23 11:05] karamanolev commented on #56
@bpmcl @twolfson What's a good way to have a discussion about the way to implement this?

[2017-05-23 17:57] twolfson commented on #56
@karamanolev @bpmcl Sorry, I misspoke last night due to being tired and rushed on other tasks. I'm open to supporting an option like `--docstring-quotes` but I think it will be difficult with our current implementation. That is `tokenize` doesn't seem to easily support detection for functions:

https://docs.python.org/3/library/tokenize.html

If you can find a way to achieve that easily or a libra

[2017-05-23 17:59] fxfitz commented on #56
FWIW, we're hitting this problem now with 0.10.x.  We would also like to see this added. :-)

/me pins 0.9.0 for now.

[2017-05-23 19:05] karamanolev commented on #56
This is a naive first pass at the first feature. There is a somewhat longer explanation in the PR itself. Please let me know what you think: https://github.com/zheller/flake8-quotes/pull/57

[2017-05-23 20:04] karamanolev commented on #56
Keeping the discussion about the specific PR over there, I think this is a good place to discuss proper support for docstrings. What I've found out so far is that the ast module can be helpful, but doesn't solve all our problems. You can get the docstring for a node using `get_docstring`, but it's just returned as a string. You don't get the AST node, so it's basically useless. As a result that, w

[2017-05-23 22:37] twolfson commented on #56
I think that strategy seems reasonable and was kind of expecting something like that. In JavaScript, there are typically libraries which interlink the token tree with the AST for this very purpose:

https://github.com/millermedeiros/rocambole

Another library to check would be `flake8` itself. I think they've introduced more parsing options since we started using it so there might be an API we can

[2017-05-24 06:46] twolfson commented on #56
We have updated multliline errors from `Q000` to `Q001` via @karamanolev in #57 and released it in `0.11.0`. I'm going to leave this PR open as it sounds like we still want to support `--docstring-quotes`

[2017-05-24 09:44] karamanolev commented on #56
Guys, I've run into this Python bug http://bugs.python.org/issue16806 . It seems than other than extremely ugly workarounds, we won't be able to do much:

- Use the token stream to detect docstring ourselves. I think this is relatively difficult and completely out of scope in this project.
- Match the strings by lineno + content, which is going to work for 99.9% of the cases, but can be broken wit

[2017-05-25 03:06] twolfson commented on #56
Could you elaborate more on using the token stream to detect docstrings?

I concur that the lineno + content matching is probably going to cause use more issues than it's worth

[2017-05-25 06:15] karamanolev commented on #56
Here's a proposal:
For the module docstring it's easy - in the start of the token stream, ignore all NL, NEWLINE, INDENT tokens. If you hit a STRING token, that's the docstring.
For classes and functions it's a bit more involved - look for a NAME token with a value 'class' or 'def'. They aren't valid identifiers, so they can't be anything else. After that token look for an OP token `:`. It's requi

[2017-05-25 08:52] karamanolev commented on #56
A sample implementation with some more comments is in a PR: https://github.com/zheller/flake8-quotes/pull/59

[2018-01-14 06:35] themusicgod1 opened #64 "flake8 3.5+ support"
Right now the default flake8 that will be used in the next version of Ubuntu GNU/Linux (Ubuntu 18.04) will be 3.5.  Similarly, the flake8 in the "buster" / testing flavour of Debian GNU/Linux is at 3.5 - that will be the next version of Debian, to be released at some point.

And yet the requirements-dev lists the required flake8 is '<3.4.0,>=3.3.0'

Especially given an expressed interest in incorp

[2018-01-14 06:38] themusicgod1 opened #65 "tox 2.5+ support"
Same as #64 only for tox.  requirements-dev.txt lists tox versions tox<2.4.0,>=2.3.1 - but the current version of tox in even Debian Stable is 2.5

[2018-01-14 07:12] themusicgod1 commented on #64
See #66

[2018-01-14 07:12] themusicgod1 commented on #65
See #66

[2018-01-14 08:30] twolfson commented on #65
Tox is exclusively being used for development. During development of any Python package, it's encouraged to use `virtualenv`/similar to isolate dependencies from global dependencies

Closing this as `wontfix`

[2018-01-14 08:30] #65 closed

[2018-01-14 08:31] twolfson commented on #64
Flake8's version is is exclusively being specified for development. During development of any Python package, it's encouraged to use virtualenv/similar to isolate dependencies from global dependencies

Closing this as `wontfix`

[2018-01-14 08:31] #64 closed

[2018-01-14 09:34] themusicgod1 commented on #65
virtualenv will only work if tox versions in question are actually available, which they are not assumed to be in the case of Debian, including but not limited to for purposes of development

[2018-01-14 09:52] twolfson commented on #65
`virtualenv` supports ignoring system level packages via the `--no-site-packages` flag. Have you tried that out?

[2018-01-14 18:02] themusicgod1 commented on #65
I only use system level packages.  The goal here is to expand the scope of audited, supported, reproducible system-level packages.  PyPy will not necessarily be around forever and cannot be counted on to be secure.  However if you are choosing not to support outside-of PyPy use that is totally fine - it's your project and I respect that.  I will do what I can outside of this repo to make sure flak

[2018-01-14 22:04] twolfson commented on #65
Ah, I understand. Thanks for understanding our perspective and good luck!

[2018-02-22 14:04] drdaeman opened #69 "Allow same quotation style for strings in parentheses?"
Trying to make flake8 enforce consistent quotation style for me, I've stumbled upon some case I'm not sure how to deal with:

    message = (
        "Please check your email for the verification code. "
        "If you didn't receive it, you can request another one "
        "in {seconds} seconds."
    ).format(seconds=seconds)

While the convention in that project is to strongly prefer single qu

[2018-02-22 18:19] twolfson commented on #69
I don't follow when this scenario is applicable that the main one isn't.

- Do we not currently lint strings in parentheses?
- Are quotes being linted with different settings for different files?
- Is there something here that affects these quotes from being treated the same as the global single/double quotes setting?

[2018-02-22 19:00] drdaeman commented on #69
Sorry for the confusion! It is linted and irrespectively of the file or anything else, with global setting to use single quotes (the default), Q000 is raised on the first and last line in the example - when there is no apostrophe in a string - so double quotes are not justified.

Basically, this raises a warning while I believe it shouldn't.

[2018-02-22 19:02] twolfson commented on #69
Ah, so we have a regression when using acceptable quotes in quotes. Got it. Cool, I'll look into this by the end of next weekend (unless you'd like to take a shot at the issue beforehand)

[2018-02-22 19:24] drdaeman commented on #69
Not a regression, I think. The second line is accepted, and if first and third are edited like this it won't raise any warnings:

    message = (
        'Please check your email for the verification code. '
        "If you didn't receive it, you can request another one "
        'in {seconds} seconds.'
    ).format(seconds=seconds)

However, it looks ugly (maybe that's just my) to mix different s

[2018-02-22 19:44] twolfson commented on #69
Yea, it definitely should be asserting single or double quotes for all of the lines

[2018-02-23 05:12] twolfson commented on #69
I've successfully reproduced the error. I'm going to guess `tokenize` is combining the string but I'm not 100% sure yet

[2018-02-23 07:42] drdaeman commented on #69
Sorry, I think we don't understand each other. I saw the caveats section, and that's exactly why I've asked about the current behavior. I think flake8-quotes should make the exception it does more broad.

I mean, I wasn't complaining it allows doubly-quoted string - that's exactly what I expect. I was complaining there is no way to permit its immediate neighbors to also use same quotation style wi

[2018-02-23 10:46] twolfson commented on #69
Ah, that does clear things up. Yea, I think that's too niche of a case to support and is contradictory to the leniency of the flipped quotes tolerance to allow "bad" quotes in strings

[2018-04-08 20:34] twolfson commented on #56
The initial issue was resolved a while ago (#57). It looks like we left this open for docstrings which has been resolved via #59 and #73, released in `1.0.0`.

[2018-04-08 20:34] #56 closed

[2018-04-09 21:56] DJSymBiotiX opened #74 "Is there a way to set all options at once?"
I ran into the issue where I had an older version setting the inline-quotes and multiline-quotes.
I'm using single quotes for everything (including docstrings), so my tox tests all of a sudden started failing when it grabbed the new version of this. So I had to add in the new docstrings-quotes setting.

Does there exist, or will there be some master "quotes" setting, that will set it for all 3 opt

[2018-09-19 18:18] stevula opened #76 "Allow both single and double for inline but enforce double for docstring"
I would like to require double quotes for docstrings but allow people to use single or double quotes for inline strings as they prefer. Is this possible?

[2018-09-19 20:03] meshy commented on #76
Sounds like a job for https://github.com/PyCQA/flake8-docstrings

[2018-09-19 21:53] twolfson commented on #76
I'm with @meshy on this. There seems to be a library that already supports this. That being said, I'm happy to accept a PR which adds said support

Closing issue as `wontfix` for now

[2018-09-19 21:53] #76 closed

[2018-09-19 22:02] stevula commented on #76
Fair enough! Thanks for the recommendation.

[2018-10-03 05:50] 5j9 opened #77 "Add a rule to prevent unnessary \' in single-quoted strings"
PEP-8 states:

Therefore ``'isn\'t'`` should be rewritten as ``"isn't"``, but `flake8-quotes` currently does not recognize the first form as an error. I'd like to suggest adding it.

[2018-10-03 06:05] twolfson commented on #77
I think we're open to an option like that. Maybe call it `nested_quotes: same|different`. Unfortunately I don't have time to build this feature so I'm going to leave this issue open as "help wanted"

[2019-03-24 14:15] JoeHitchen commented on #77
I'm willing to have a go tackling this, if we can chat through the requirements.

[2019-03-25 03:44] twolfson commented on #77
I've got a bunch of items in the air at the moment, I'll reply with some thoughts by the end of next weekend

[2019-03-26 19:04] JoeHitchen commented on #77
The requirements for inline strings seem fairly clear:    (assuming single quote preference)
`'string'` - Good
`'str"ing'` - Good
`'str\'ing'` - Bad (Q0XX?)
`'st"ri\'ng'` - Good (One of them will have to be escaped)
`"string"` - Bad (Q000)
`"str'ing"` - Good
`"str\"ing"` - Bad (Q000)
`"st'ri\"ng"` - Bad (Q000)

Are there any considerations for docstrings/multiline strings? If individual quotes don

[2019-03-26 23:59] twolfson commented on #77
Ah, listing out those test cases helps a bunch. I was projecting personal JS conventions here (i.e. encourage escaping, such that there's an error if we don't -- we don't want the exact opposite of this)

It seems like this is strictly to discourage escaping but prefer the specified quote

Let's go with Q001 for our new error

I concur; I don't think we need to enforce for docstrings/multiline str

[2019-03-29 17:45] JoeHitchen commented on #77
I'm going with `Q003 Change outer quotes to avoid escaping inner quotes`, because 0-2 are already used.
Don't we want to enforce this new rule by default, since it is the PEP8 recommendation?

I hope to have something to show by middle of next week.

[2019-03-29 22:40] twolfson commented on #77
Ah, I was thinking of a non-breaking minor release. We can make it `default: true` and a breaking major release too, that's fine :+1:

[2019-03-30 20:48] JoeHitchen commented on #77
Ok, I've got checks working, but struggling with getting the options working.

Also, how do we feel about strings ending with a literal backslash (e.g. `'windows_path\\'`). I guess we don't want to raise an error in such cases?

[2019-03-30 21:00] twolfson commented on #77
I think ending with a literal backslash is fine. If we're searching for
`\'` then we're going to have a bad time due to potential infinite
preceding backslashes

It's prob easier to search for the same quote type in the string. If found,
then we error out if there's no alternative quite type in the string (eg
double)

On Sat, Mar 30, 2019, 1:48 PM JoeHitchen <notifications@github.com> wrote:

[2019-03-31 11:17] JoeHitchen commented on #77
That seems more sensible than my approach. I was searching for literal quotes (`\'` or `\"`) which would be fine in most cases, but just searching the content for the quotes directly makes sense, since it avoids the false positives discussed above (`'...\\'`).

I've [opened a branch](https://github.com/zheller/flake8-quotes/compare/master...JoeHitchen:escaped) now, but still don't have the option

[2019-03-31 12:15] JoeHitchen commented on #77
Sorted out external exposure, PR open.

[2019-04-16 23:50] twolfson commented on #77
This has been resolved by @JoeHitchen in #78 and released in `2.0.0`

[2019-04-16 23:50] #77 closed

[2019-04-17 15:23] fxfitz commented on #77
I prefer single quotes in my project.

How does one modify the following such that this error is not being hit?

[code]

[2019-04-17 15:27] fxfitz commented on #77
(I'm not sure if closed issues get notifications, so pinging @twolfson and @JoeHitchen for visibility)

[2019-04-17 23:01] twolfson commented on #77
Close issues do receive notifications (I got 1 email for each comment)

We haven't installed any new dependencies in the `2.0.0` release so that `Couldn't import Django` is probably more related to dependencies

I'm assuming you are actually receiving a Q003 error though. We've documented this in the README. You can update either of the following:

- Add `--no-avoid-escape` to CLI invocations of `

[2019-04-17 23:33] fxfitz commented on #77
Sorry about the double notifications.

Oh, and yes, to clarify: my error was receiving the Q003 on that line (not actually the raising of an ImportError).

And I saw the added `avoid-escape` configurations in the documentation, but I _like_ the added avoid-escape options, _but_ I also prefer single quotes. So, is there any way to prefer single-quotes, while still keeping `avoid-escape`, but being

[2019-04-17 23:38] twolfson commented on #77
To paraphrase, you'd like to have single quotes and avoid escape enabled in most cases but opt-out in some specific lines. Is that right?

If so, you're on the right track with `# noqa`. `flake8` supports skipping specific errors for specific lines via `# noqa: Q003`

http://flake8.pycqa.org/en/3.1.1/user/ignoring-errors.html

If I've misinterpreted your case, then can you provide more code exampl

[2019-04-19 17:04] xqt opened #80 "Q003 error message is wrong for raw strings"
I guess _Q003: Change outer quotes to avoid escaping inner quotes_ was introduced with flake8-quotes 2.0.0 but this error is not appropriate for raw strings; e.g. `r'\'' == r"\'"` but the escape sequence cannot be omitted. Therefore there is no need to change the outer bound quotes in such cases.

[2019-04-19 22:17] twolfson commented on #80
@zheller Can you set me as an admin on this repo? I'd like to add @JoeHitchen as a contributor so they can handle this independently

[2019-04-19 22:19] zheller commented on #80
yah

[2019-04-19 22:21] zheller commented on #80
Couldnt figure out how to add you as an admin so just added @JoeHitchen as a collab

[2019-04-19 22:24] twolfson commented on #80
Great, thanks!

@JoeHitchen Are you free to handle this issue? If so, do the normal PR submission. If neither @zheller or myself are available to review (wait 24 hours), then you're prob fine to land it yourself

Also, please give us your PyPI handle so you can release there (we release via `./release.sh <semver>`)

[2019-04-23 13:21] JoeHitchen commented on #80
Yeah, I'll look into this. I'm not set up on PyPI, but I can create an account if needed.

[2019-04-24 04:25] twolfson commented on #80
Can you create an account so we can add you? #81 looks good and I should land it later tonight but I want to set everything up for "just in case"

[2019-04-24 07:50] twolfson commented on #80
This has been resolved by @JoeHitchen in #81 and released in `2.0.1`

[2019-04-24 07:50] #80 closed

[2019-04-30 19:12] JoeHitchen commented on #80
Eventually, I have set myself up as JoeHitchen in PyPI

[2019-05-26 22:27] twolfson commented on #80
Back from vacation and glad to see nothing bad happened =D Adding you to PyPI 👍

[2019-06-21 10:42] samuelcolvin opened #82 "strings on multiple lines with different quotes"
I'm really keen to use this on [pydantic](https://github.com/samuelcolvin/pydantic), however there's one blocking issue

Take the following example:

[code]

I would say both lines should use double quotes so they're the same even though only one line includes single quotes.

I'm aware this would make analysis more complicated, but is it something you would consider? Either as default or via an op

[2019-06-21 10:58] samuelcolvin commented on #82
not a big worry if this isn't possible since I can use `# noqa: Q000` in the few places where this happens.

[2019-06-21 20:52] twolfson commented on #82
I think we're open to supporting this but I concur it will add a layer of complexity to everything. One other option aside from `noqa` is to use escaping of the quotes to keep everything consistent:

[code]

That being said, I'll leave this issue open as "help wanted" if anyone wants to explore it. Maybe we could call the option `adjacent_line_quotes = False (default)/True`

[2019-07-29 15:38] peterjc opened #83 "Document all the validation codes in the README"
The README currently says:

This is misleading, it looks like it currently defines four warnings which can all be enabled or disabled with the partial code `Q0`:

* Q000 Remove bad quotes
* Q001 Remove bad quotes from multiline string
* Q002 Remove bad quotes from docstring
* Q003 Change outer quotes to avoid escaping inner quotes

[2019-07-29 15:51] peterjc opened #84 "Link to tools which automatically fix the quote style?"
Are you aware of any tools to reformat Python files to use a preferred quote style? Something like ``black`` or ``autopep8`` or ``YAPF`` but able to fix just this one issue?

The only thing I have found so far is ``unify``, which seems worth using in conjunction with your flake8 plugin:

https://github.com/myint/unify

[2019-07-29 20:21] twolfson commented on #84
Sorry, I haven't done a search for an automatic formatter with this setup =/ Maybe try looking for dependent packages or asking on a forum (e.g. Reddit)?

[2019-07-29 20:21] #84 closed

[2019-07-29 20:24] twolfson commented on #83
Ah, good catch. Do you think updating the text to "This package adds flake8 warnings with the prefix `Q0`" would work for you?

I think we explain each problem in the `flake8` output (e.g. `Q000 Remove bad quotes`)

[2019-07-30 10:20] peterjc commented on #83
Personally I find it really useful for the plugin documentation to list _all_ the codes, this is especially useful when reviewing flake8 settings for a large project. So I list them all in a table, e.g.

https://github.com/peterjc/flake8-black#flake8-validation-codes
https://github.com/peterjc/flake8-rst-docstrings#flake8-validation-codes

In any case, your proposed wording is a good improvement.

[2019-07-30 10:23] peterjc commented on #84
Thanks.  Happily ``unify`` as it seems to work nicely (I used it successfully yesterday on a very large and diverse code base).

I would recommend adding a link to ``unify`` in the ``flake8-quotes`` main README - the flip side of linting tools is fixer tools.

[2019-07-30 22:00] twolfson commented on #83
Cool, I'm super busy this week but I'll try to get that update in by the end of the weekend

[2019-08-01 20:36] #83 closed

[2019-08-07 09:40] fallenwood opened #86 "Is there a rule to make sure all the string literals have a prefix 'b' or 'u'?"

[2019-08-07 10:05] twolfson commented on #86
No, we don't support that feature. Also iffy to include it unless we rename this library to `flake8-string` as it doesn't feel too quote-like

[2019-08-07 10:05] #86 closed

[2019-09-06 23:47] BarakBD-Globality opened #87 "Ignrones print statements"
setup.cfg
[code]

My ocde:
[code]
Run
[code]

Expected - Error.
Result - no error show

[2019-09-07 00:00] BarakBD-Globality commented on #84
Too bad that autopep8 won't automatically fix quotes according to setup.cfg.

[2019-09-07 22:18] twolfson commented on #87
Can you verify that `flake8-quotes` is indeed being loaded by `flake8`? Maybe put in 2 different lines with different sets of quotes to guarantee at least 1 error:

[code]

[2019-09-08 04:17] BarakBD-Globality commented on #87
My bad, I had a general `noqa` instead of `noqa: T001` (ignore only print). Closing issue.

[2019-09-08 04:17] #87 closed

[2019-09-13 07:20] MaZZly commented on #82
I would also be interested in this feature/option

[2020-01-15 19:08] iMakedonsky commented on #82
Also interested in this feature

[2020-03-08 13:20] sobolevn opened #89 "Add test cases for python3.7 and python3.8"
Currently both `tox.ini` and `travis.yml` do not support latest python versions.

I can send a PR with the fix!

Related: https://github.com/wemake-services/wemake-python-styleguide/issues/1138

[2020-03-08 21:09] twolfson commented on #89
Are you saying that the latest Python versions are broken or that we simply
aren't testing them?

On Sun, Mar 8, 2020, 6:20 AM Nikita Sobolev <notifications@github.com>
wrote:

[2020-03-09 07:52] sobolevn commented on #89
I don't think that they are broken 🙂

But, tests should tell us that!

[2020-03-09 07:59] sobolevn commented on #89
Yeap, they are failing 🥇

[2020-03-25 08:16] skirpichev opened #92 "IndentationError while checking doctest's in the sphinx docs"
Steps to reproduce:
1. install the [Diofant](https://github.com/diofant/diofant/) [from sources](https://diofant.readthedocs.io/en/latest/install.html#from-sources)
2. install flake8-quotes
3. run flake8-rst docs/tutorial/polys.rst

I got the following traceback:
[code]

[2020-03-25 08:26] twolfson commented on #92
I don't see flake8-rst or flake8 in the steps to reproduce. Where do those
come in?

Also, have you verified that flake8-quotes and Diofant are required?

On Wed, Mar 25, 2020, 1:16 AM Sergey B Kirpichev <notifications@github.com>
wrote:

[2020-03-25 09:02] skirpichev commented on #92
It's among of the development requirements, its installation was documented in the documentation, which quoted in the step 1.

I doubt.  But I'm figuring out the minimal example.  In the case above the error was triggered by the following fragment from rst:
[code]

[2020-03-25 09:06] twolfson commented on #92
That looks like a bug in `flake8-rst` or whatever is passing that code block to `flake8-quotes`. The code block isn't valid Python, it's a Python REPL yes but not valid Python

It looks like `flake8-rst` expects a `python` declaration (e.g. `sourcecode:: python`) so I'm not sure where the issue is

https://pypi.org/project/flake8-rst/

Closing as `invalid`

[2020-03-25 09:06] #92 closed

[2020-03-25 09:48] skirpichev commented on #92
@twolfson, please reconsider.  It seems, for whatever reason - flake8-quotes plugin parses the file as whole, not something flake8/flake8-rst feed to it.

Unfortunately, flake8 can't disable plugins.  Maybe flake8-quotes should be disabled by default if it's in such an early alpha stage?  That would be a workaround for my problem, as it would be possible to avoid this plugin while testing doctests

[2020-03-25 10:09] skirpichev commented on #92
BTW, I'm pretty sure - flake8-rst is ok in this example.  Here is the output from the `RstFileChecker.__init__()` in the above example.
[code]

As you can see, @twolfson, the `sqf`-related block (which was the source of trouble) - was parsed correctly by flake8-rst.  But flake8-quotes just ignores that info.

[2020-03-25 11:07] skirpichev opened #93 "Use flake8 provided tokens for analysis"
The current flake8-quotes implementation don't use the infrastructure, provided by flake8 for plugins.  The entry point `QuoteChecker` supports `tree` and `filename` arguments, but the first one (which is for AST tree, provided by flake8) - totally ignored!  Then, QuoteChecker parses provided file by itself, which will lead to "invalid" issues like https://github.com/zheller/flake8-quotes/issues/9

[2020-03-25 11:32] twolfson commented on #93
It's been a white since we've worked on the core of this package. It was initially developed under Flake8@2.x with lacking documentation and flexibility so we had to use `tokenize` to get the behavior we wanted

If you believe this behavior now exists in Flake8@3.x and is backwards compatible to Flake8@2.x, then feel free to open a PR to fix it

If I recall correctly, we ignored the AST parameter

[2020-03-25 11:42] twolfson commented on #92
I believe you have correctly found the source of the issue as described in #93. We use the `pep8` infrastructure and expect files to either be entire files or passed in via `stdin`. I'm unsure there's actually a viable fix within the `flake8` infrastructure to handle this (or we likely would have used it)

Going to leave a similar message in #93. Feel free to explore/submit a PR for it but I feel

[2020-03-25 11:43] twolfson commented on #93
Upon further reading of your latest notes in #92, you might be onto something but I'm unconvinced that `flake8` actually supports what you claim -- a full set of the source code via an input parameter which we can join and `tokenize` (to support multiline strings iirc)

I don't have time to explore this

Feel free to explore/submit a PR for it but I feel what `flake8-rst` is doing is likely pushin

[2020-03-25 12:08] skirpichev commented on #93
@twolfson, is it unmaintained now?   Why you are closing valid issues?!

No, I'm not asking this.  Now I'm pretty sure - this package was implemented incorrectly.   You may lack time to fix this, that's understandable.

I didn't check flake8 2.x, but IIRC - the mentioned above example should work as-is too.  Anyway, is the compatibility with 2.x - an important thing?  Both flake8 and flake8-quotes

[2020-03-25 12:33] twolfson commented on #93
This package is maintained on a per-issue basis. I've explained the rationale at the time of closing each issue. I prefer to pre-emptively close issues in case of unresponsive collaborators

From my perspective, there's still no proof that the example code you provided would support all our use cases

I'm not 100% certain to be honest. While reviewing the `flake8` docs briefly I saw a mention of `

[2020-03-25 13:28] skirpichev commented on #93
(I doubt you will have collaborators with such a policy...)

For me, common sense suggest that it's you should provide an explanation why the flake8 infrastructure doesn't fit your plugin.

So far, you only have referenced some issue in the flake8 repo.  Which is fixed.

Yes, it's fixed.

Which proof will convince you?  Can you provide a minimal example you do care about?

Not all.  flake8-todo do

[2020-03-25 13:40] twolfson commented on #93
By collaborators, I mean anyone who opens an issue on a repo and there's plenty of unresponsive persons there

Yes, let me review our test cases briefly for minimal examples...

Here's a couple:

- Multiline strings, https://github.com/zheller/flake8-quotes/blob/2.1.1/test/data/docstring_doubles.py
    - Test run via: https://github.com/zheller/flake8-quotes/blob/2.1.1/test/test_docstring_checks.p

[2020-03-25 14:35] skirpichev commented on #93
By a minimal example I didn't mean all your test suite.

I think, it will be easier to write plugin I need from scratch.  Your issue "fixing" approach scare me.

@twolfson, lets me try the last attempt to convince you.  Here is an example of two sources, both include multiline strings.  As you can see, my plugin ("X" prefixes) correctly handles both *.py and *.rst (the slight difference for *.py o

[2020-03-25 15:03] twolfson commented on #93
Okay, after staring at this for a few minutes I think I see the relevant parts of the code block. You're saying that the `flake8-demo` code from the first comment (https://github.com/zheller/flake8-quotes/issues/93#issue-587617013) is generating these X801 lines

[code]

and that is proof that `flake8` has a plugin API for passing individual lines without parsing

I'm a little confused and skeptic

[2020-03-25 15:35] skirpichev commented on #93
A little enhanced version, yes.

I think, this is that it.  Here is the source (docstring special case isn't implemented):
[code]

[2020-03-25 15:43] twolfson commented on #93
I see, thanks for providing that =) I'm still a little skeptical that we'll get `tokenize` working appropriately across multiple lines but I guess that's for the PR to figure out

Re-opening issue with "help wanted" as promised and updating title from "Incorrect plugin implementation" to "Use flake8 provided tokens for analysis"

[2020-03-25 19:58] #89 closed

[2020-03-25 20:43] #93 closed

[2020-04-17 15:29] Zoynels opened #95 "Multiline quote raise wrong error"
As you wrote:
We follow the PEP8 conventions to avoid backslashes in the string. So, no matter what configuration you are using (single or double quotes) these are always valid strings
[code]
Many lines work fine, except some:
[code]
raise error: Q001 Remove bad quotes from multiline string
If I try to replace it:
[code]
There python error: SyntaxError: EOL while scanning string literal

So, now i

[2020-04-17 16:13] twolfson commented on #95
Can you share your flake8 configuration? Are you enabling/disabling
avoid-escape?

On Fri, Apr 17, 2020, 8:30 AM Zoynels <notifications@github.com> wrote:

[2020-04-17 17:14] Zoynels commented on #95
It has same same behavior with/without --avoid-escape
[code]

[2020-04-17 18:01] twolfson commented on #95
Hmm, interesting. Alright, will take a look at reproducing the issue later today

[2020-04-18 00:20] twolfson commented on #95
I can successfully reproduce the issue but am processing how to resolve it

Currently we only allow forgoing triple quotes when a full triple quote is used inline

i.e. Need to use `"""` inside a `'''` for use to pass its behavior

This is really only an issue because the Python parser doesn't handle `""""` (i.e. 4 sequential end quotes properly)

[code]

Going to step away for a bit to verify we'

[2020-04-18 01:04] twolfson commented on #95
Decided moving forward with explicit ending for quadruple quote ending is the sanest solution. Opening PR now

[2020-04-18 01:09] twolfson commented on #95
Opened up PR #96 to resolve this issue, please review it when you get a chance =)

[2020-05-11 12:36] squeaky-pl opened #97 "Buggy behavior with empty dict literal and string:"
Consider the following example:

[code]

and this configuration:

[code]

this ends up with `Q002 Remove bad quotes from docstring` when there is no docstring here involved.

Splitting this over two lines like:

[code]

Resolves it.

[2020-05-11 17:39] twolfson commented on #97
Oh wow, interesting edge case. I'll look into reproducing this either today
or tomorrow

On Mon, May 11, 2020, 5:37 AM Paweł Piotr Przeradowski <
notifications@github.com> wrote:

[2020-05-11 20:58] twolfson commented on #97
I've successfully reproduced the issue, at first glance it looks like an issue in our custom docstring detection function but I'll need to dig deeper which I don't have time for at the moment. I'll take a shot at fixing this by Sunday

Also going to @ @oxitnik since they've worked on this code last/might not have forgotten as much as I have

[2020-05-11 21:15] rpdelaney opened #98 "No error after outer quotes are changed per Q003 if inner quotes are still escaped"
Possibly related #69 , #77

1. `'str\'i\'ng'` Q003
1. `"str\'i\'ng"` No errors

The first line gives `Q003` while the second line emits no errors. I took the ultimate aim of Q003 to be to eliminate escaped quotes wherever possible: if I am correct, then I suggest we should emit an additional error to actually do the un-escaping.

I don't have a considered opinion about what that should look like,

[2020-05-11 21:37] twolfson commented on #98
Seems like a reasonable request :+1:

I think that Q004 "Remove unnecessarily escaped quotes" sounds good to me =) (no period needed)

[2020-05-12 15:07] oxitnik commented on #97
Yes. issue in get_docstring_tokens. `state` needs to be reset when brackets are handled.
I tried to replace https://github.com/zheller/flake8-quotes/blob/26fe39c9b9a160a4dc2f3c975f71f0479bc193b7/flake8_quotes/docstring_detection.py#L64-L67 with
[code]
and no docstrings have been found in snippet from issue.

[2020-05-12 23:11] #95 closed

[2020-05-12 23:13] twolfson commented on #95
This has been resolved via #96 and released in `3.1.0`. Thanks for the bug report =D

[2020-05-12 23:35] twolfson commented on #97
:+1: That patch works great =D Will do my best to properly attribute the commit in a PR

[2020-05-12 23:45] #97 closed

[2020-05-12 23:46] twolfson commented on #97
This has been released in `3.2.0`. Thanks for the bug report and fixes y'all =D

[2020-05-16 23:43] rpdelaney commented on #98
There's a plugin [flake8-strings](https://pypi.org/project/flake8-strings/) that says on the tin that is does this, but I haven't tried it. MIT license. Maybe we could crib from there.

[2020-06-01 18:52] plinss opened #100 "Support variable docstrings"
While not official, many documentation generators, e.g. Sphinx, pdoc, PyCharm, etc., recognize docstrings after variables.

flake8-quotes however classifies these as multi-line strings, so when using single quotes for multi-line strings and double quotes for docstrings, I get a bunch of false positives.

Example:
[code]

[2020-06-02 00:06] twolfson commented on #100
Can you link us to the documentation for these? I tried to look up Sphinx's to understand its use case more but couldn't find anything =/

Currently don't understand purpose of a variable docstring, that seems like just a code comment as documentation is meant to be an external reference which is parameters and return values, variables are internal ._.

Also potential edge case for us to worry abo

[2020-06-02 03:22] plinss commented on #100
Here's pdoc's documentation: https://pdoc3.github.io/pdoc/doc/pdoc/#docstrings-for-variables

epydoc's documentation: http://epydoc.sourceforge.net/manual-docstring.html#variable-docstrings

Sphinx docs don't talk about them much but they are in the examples: https://www.sphinx-doc.org/en/master/usage/extensions/example_numpy.html

The purpose is to add a description of the variable in the generat

[2020-06-02 05:20] twolfson commented on #100
Cool, thanks for sharing those links and info =)

This makes a lot more sense in the context of modules and classes :+1:

It seems like another case to handle in our parser where we can anticipate a docstring after a variable is set

Going to cc @oxitnik who has handled docstring parsing to date

[2020-06-04 04:06] plinss commented on #82
I'd like it too, but it needs to allow the quotes to differ if doing so avoids escapes. e.g.

[code]

should not be an error.

[2020-06-04 04:35] plinss commented on #100
@twolfson I've been looking at the code to see about submitting a PR to fix this. I'm currently thinking this would be a *lot* easier to implement if the extension took logical lines from flake8 rather than parsing the file directly.

If I can make that work, and still pass the existing test suite, would you accept such a PR? It should also remove a bunch of code and not change the main string log

[2020-06-04 04:56] twolfson commented on #100
As of PR #94, we should only be parsing files as a backup:

https://github.com/zheller/flake8-quotes/pull/94

I'm revisiting the `flake8` docs to better understand if this implies logical lines or not. It's not 100% clear to me. However, it does look like there's some abstractions which weren't standardized when we first built everything so feel free to use those

https://flake8.pycqa.org/en/3.8.2

[2020-06-04 05:36] plinss commented on #100
Ah, missed that, thanks. I'll check if those are physical or logical, I think they're physical.

In the approach I was thinking about, flake8 calls the extension once per logical line, I'm new to flake8 extensions so I'm not sure if you can get it to pass the whole file at once as a list of logical lines. But I'll dig around a bit. (In this approach, `logical_line` is the first argument.)

I don't

[2020-06-06 23:28] twolfson commented on #100
Most work has been done in #101 but has been halted for now due to lack of time. If anyone decides to pick this up again, that's probably a good place to start

[2021-08-18 08:58] Julian opened #102 "Friendlier error message"
Hi. I was looking to add a linter for string literals to a project of mine and found this one, thanks for writing it.

I find the error message likely a bit too unclear for people however.

Specifically it'll tell someone to "remove bad quotes", when instead it seems clearer to say something of the form "Single quote string literal found, this codebase uses double quoted literals" (or vice versa b

[2021-08-18 19:14] twolfson commented on #102
Not strongly opposed to it, though I could see it breaking some setups which expect consistent human readable output

Do you mind surveying other parts of `flake8` or plugins to see how they handle different user configurations? (e.g. line length messages, tabs vs spaces, casing)

[2021-08-19 07:38] Julian commented on #102
Great! Sure thing.

Here's e.g. [pycodestyle](https://github.com/PyCQA/pycodestyle/blob/aa3417b6a51f5912e32d9c8c879e1b9dd660d5f8/pycodestyle.py#L319-L320) which for line length too long will say "(137 > whatyouconfiguredasmaxlinelength" (on the same E501 rule)

And a plugin for checking tabs and spaces [which does the same seemingly](https://gitlab.com/ntninja/flake8-tabs/-/blob/e730ad4b2c82fa2e2a

[2021-08-19 17:53] twolfson commented on #102
Awesome, thanks @Julian =D

I'm now much more comfortable with changing the text =) We're prob fine to leave them using the same code. If people eventually request it, then we can make that a breaking change (major release) then.

Do you mind opening a PR to introduce the change? Best approach will prob be putting the full message into the `INLINE_QUOTES`/`MULTILINE_QUOTES` config -- this will fut

[2021-08-20 08:56] Julian commented on #102
Sure thing. Sent.

[2021-08-23 07:52] #102 closed

[2021-08-23 07:53] twolfson commented on #102
This has been released in `flake8-quotes@3.3.0`

[2022-04-11 09:31] bristea opened #105 "This project seems incompatible with black"
It seems that this project seems to be totally opposed to black double quoting and that is causing havoc if someone happens to install this plugin at user level flake8, as it will make flake8 report false errors in other projects.

[2022-04-12 06:37] twolfson commented on #105
This project can be configured with single or double quotes. It's also unexpected that someone would use both `black` and `flake8-quotes` in the same project as they both revolve around styling

Using user-wide or system-wide linting rules is not recommended due to the diversity of choices made by various projects.

[2022-04-12 06:37] #105 closed

[2022-09-08 18:28] Avasam commented on #84
unify seems to be working for me as a fixer for quotes.

[2022-11-09 10:35] GideonBear opened #108 "Incorrect error message from `Q002` for docstrings"
If I put `"Docstring"` in a file, `flake8-quotes` complains (as it should), but with the error `Q002 Single quote docstring found but double quotes preferred`. This is incorrect, as they *are* double quotes, just not triple.

[2022-11-10 03:40] twolfson opened #109 "Stepping down as a maintainer"
Heads up to @zheller that I no longer have time to help maintain this repo

[2022-11-23 22:08] matthiasdiener opened #110 "Incompatibility with flake8 v6"
[code]

[2022-11-24 16:06] Avasam commented on #110
Small migration guide: https://github.com/PyCQA/flake8/pull/1739